.anchor {
	padding-top: 40px;
}

.tree-node, .tree-leaf {
	text-transform: none;
}

.custom-icon-list {
	list-style-type: none;
}

.hidden {
	display: none;
}

.d_keyword {
	color: blue;
}

.d_string {
	color: red;
}

.d_comment {
	color: gray;
}
