.anchor {
	padding-top: 40px;
}

.tree-node, .tree-leaf {
	text-transform: none;
}

.custom-icon-list {
	list-style-type: none;
}

.hidden {
	display: none;
}

.d_keyword {
	color: blue;
}

.d_string {
	color: red;
}

.d_comment {
	color: gray;
}

.ddoc-icon-variable { background-image: url('ddoc-icons/var.png'); }
.ddoc-icon-function { background-image: url('ddoc-icons/func.png'); }
.ddoc-icon-property { background-image: url('ddoc-icons/property.png'); }
.ddoc-icon-struct { background-image: url('ddoc-icons/struct.png'); }
.ddoc-icon-class { background-image: url('ddoc-icons/class.png'); }
.ddoc-icon-enum { background-image: url('ddoc-icons/enum.png'); }
.ddoc-icon-template { background-image: url('ddoc-icons/template.png'); }

[class*='ddoc-icon-'] {
	display: inline-block;
	width: 16px;
	height: 16px;
}
